@media only screen and (max-width :992px ){


.cover-area{
    max-width:100%;
    height:450px;}

    .cover-area img{
        max-width:100%;
        height:100%;}

    
.img-zone{
    display:grid;
    grid-gap:18px;
    grid-template-columns:columns;
    justify-content:center;
    margin-top:47px;}

.item{
    max-width:760px;}

.item img{
    width:100%;}  

.helper{
    background-color:black;}

form input,
.item .contact-helper,
.form-description{
    color:#f1f1f1;}

}

@media only screen and (max-width :762px ){

    .cover-area{
        max-width:100%;
        height:450px;}
    
    .cover-area img{
        max-width:100%;
        height:100%;}
    
        
    .img-zone{
        display:grid;
        grid-gap:18px;
        grid-template-columns:columns;
        justify-content:center;
        margin-top:47px;}
    
    .item{
        max-width:520px;}
    
    .item img{
        width:100%;}  
    
    .helper{
        background-color:black;}
    
    form input,
    .item .contact-helper,
    .form-description{
        color:#f1f1f1;}


}


@media only screen and (max-width: 584px) {
    .cover-area{
        max-width:100%;
        height:450px;}

    .cover-area img{
       max-width:100%;
       height:100%;}

    .nav-bar{
        width:100%;
        position:none;
        background-color:black;
        margin-bottom:-22px;
        display:flex;
        justify-content:center;}

    ul li{
        margin:13px 13px;
        background-color:red;}

    ul li a{
        color:yellow;}

    ul li a:hover{
        background-color:rgb(66, 219, 219);
        color:blue;
        display:inline-block;}

.img-zone{
        display:grid;
        grid-gap:18px;
        grid-template-columns:columns;
        justify-content:center;
        margin-top:27px;}

.item{
        width:470px;}
 
 .item img{
     width:100%;}  

.helper{
    background-color:black;}

 form input,
.item .contact-helper,
.form-description{
    color:#f1f1f1;}

  
   
}





